---

const {frontmatter} = Astro.props;
---
<div class="box">
<div class="container">
  <h1>{frontmatter.title}</h1>
  <p><b>{frontmatter.status}</b></p>
  <p>{frontmatter.description}</p>
  <slot/>
  <a href={frontmatter.link} class="btn">View Source Code</a>
</div>
</div>

<style>
    .container {
        background: #2a2828a8;
        border-radius: 1rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        padding: 3rem;
        width: 90%;

    }

    .box {
        display: flex;
        justify-content: center;
        padding: 1.5rem;
        color: azure;
    }

    .btn{
        background: azure;
        border: 0.1rem solid rgb(5, 49, 95);
        border-radius: 0.3rem;
        color: rgb(5, 49, 95);
        cursor: pointer;
        display: inline-block;
        font-size: 1rem;
        font-weight: 600;
        padding: 0.5rem 1rem;
        text-decoration: none;
        transition: all 0.2s ease-in-out;
        
    }
    .btn:hover {
        background: rgba(11, 13, 59, 0.894);
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
        transform: translateY(-0.2rem);
        color: #fff;
    }

</style>